@media (max-width: 430px) {
    .body-manager {
        width: 100%;
        background-image: url(./images/bg-video.gif);
    }

    .bg-mg {
        width: 100%;
        box-sizing: border-box;
    }

    .manu-mg {
        width: 100%;
        /* padding: 0px 13px; */
    }

    .manu-mg a {
        width: 25%;
    }

    .menu-btn {

        height: 70px;
        width: 95%;
    }

    .img-sz-mg {

        width: 45px !important;

    }

    .btn {
        width: 5rem;
        font-weight: 400;
        border-radius: 5px;
        padding: 3px 0px;
        font-size: 14px;


    }

    .cash-flow {
        width: 75%;
        margin: 0px;
        /* padding: 0px; */
    }

    .cash-f-mg {
        padding: 5px;
        gap: 3px;
    }

    .cashf-img {
        height: 33px !important;
    }

    .progersh-mg-cnt {
        width: 100%;
        height: 18px;
    }

    .show-cash {
        padding: 5px;

    }





    .spin-mg {
        /* display: none; */
        height: fit-content;
        margin: 5px 0px;

    }


    .bg-img-mg {

        width: 380px;
        height: 380px;


    }


    .black-ring {

        width: 77.14%;
        height: 77.14%;

    }

    .blackCircle {
        width: 85.71%;
        height: 85.71%;

    }

    .click-point {

        width: 16%;
        height: 16%;
    }

    .reward-finder {

        width: 270px;
        height: 270px;
        top: 14%;

    }

   
    /* ****************** invte page css ****** */

    .sub-text-mfg {

        padding-left: 12px;
    }

    .ref-list-head {
        padding: -5px 0px;
    }


}

@media (max-width: 40px) {

    .bg-mg {
        width: 100%;
    }

    .manu-mg {
        width: 100%;
        padding: 0px 15px;
    }

    .manu-mg a {
        width: 30%;
    }

    .menu-btn {

        height: 70px;
        width: 95%;
    }

    .img-sz-mg {

        width: 36px !important;

    }

    .btn {
        width: 5.5rem;
        font-weight: bold;
        border-radius: 20px;
        font-size: 14px;

    }

    .progersh-mg-cnt {
        width: 120%;

        height: 18px;
    }





    .spin-mg {
        /* display: none; */

    }


    .bg-img-mg {

        width: 350px;
        height: 350px;


    }

    .black-ring {

        width: 350px;
        height: 350px;

    }

    .black-ring {


        width: 300px;
        height: 300px;


    }

    .blackCircle {
        width: 350px;
        height: 350px;

    }

    .click-point {

        width: 55px;
        height: 55px;
    }

    .reward-finder {

        width: 300px;
        height: 300px;



    }

    .invite-link {
        border-radius: 3px !important;
    }

    .ref-link-copy {

        height: 25px !important;

    }

    .big-link {

        padding: 5x 0px;

    }

    .invite-text {

        font-size: 15px;

    }

    .cashf-img {
        height: 25px;

    }

    .tap-to-copy {
        width: 10%;
        padding: 10px;

        font-size: 16px;



    }

}